/* Page style */
body {
    font-family: Arial;
    display: flex;
    justify-content: center;
   
    
}


/* Main box */
.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Heading */
h2 {
    color: black;
    margin-bottom: 15px;
}

/* Input box */
input {
    width: 90%;
    padding: 8px;
    margin: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Add button */
button {
    width: 95%;
    padding: 8px;
    background: #667eea;
    color: black;
    border: none;
    border-radius: 5px;
    
}

/* Contact list */
ul {
    padding: 0;
}

li {
    list-style: none;
    background: #f2f2f2;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box {
    display: flex;
    gap: 8px;
}

.edit {
    background: #4caf50;
    padding: 5px 10px;
    font-size: 12px;
}

.delete {
    background: #f44336;
    padding: 5px 10px;
    font-size: 12px;
}
